@charset "UTF-8";
/* 设置条 */
#topbar {
  width: 100%;
  height: 40px;
  background-color: #333; }
  #topbar .container {
    width: 1226px;
    height: 100%;
    margin: 0 auto; }
  #topbar .topbar-nav {
    height: 100%;
    float: left;
    line-height: 40px;
    position: relative; }
    #topbar .topbar-nav li {
      float: left; }
      #topbar .topbar-nav li a {
        font-size: 12px;
        color: #b0b0b0; }
        #topbar .topbar-nav li a:hover {
          color: #ffffff; }
    #topbar .topbar-nav .app {
      position: absolute;
      left: 528px;
      top: 40px;
      width: 90px;
      height: 0px;
      overflow: hidden; }
      #topbar .topbar-nav .app img {
        width: 90px;
        height: 90px; }

/* 顶部购物车 */
#topbar .cart {
  width: 120px;
  height: 100%;
  float: right; }

/* 登录前info */
#topbar .info {
  float: right;
  height: 100%;
  line-height: 40px;
  margin-right: 20px;
  display: block; }
  #topbar .info a {
    float: left;
    color: #b0b0b0; }
    #topbar .info a:hover {
      color: #ffffff; }

/* 登录后info */
.useinfo {
  display: none;
  color: #b0b0b0;
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 20px; }
  .useinfo li {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 90px;
    position: relative;
    text-align: center;
    cursor: pointer;
    /* 用户名弹出菜单 */ }
    .useinfo li:hover {
      color: #ffffff; }
    .useinfo li .name {
      margin-right: 40px; }
    .useinfo li .iconfont {
      float: right;
      margin-right: 20px;
      margin-top: -38px; }
    .useinfo li .usermenu {
      height: 0px;
      width: 90px;
      position: absolute;
      box-sizing: border-box;
      padding: 7px 0;
      overflow: hidden;
      display: none; }
      .useinfo li .usermenu li {
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #b0b0b0; }
  .useinfo span {
    float: left; }

/* 购物车 */
#topbar .cart {
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
  position: relative;
  /* 购物车弹出菜单 */
  /* 购物车菜单最后一行 */ }
  #topbar .cart .cartmenu {
    position: absolute;
    width: 318px;
    right: 0;
    color: #757575;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    /* 购物车没有商品 */ }
    #topbar .cart .cartmenu .nocart {
      display: none; }
  #topbar .cart .cartmenu_last {
    background-color: #f0f0f0;
    display: none; }
  #topbar .cart .cartmenu_lastL {
    float: left;
    margin-left: 10px; }
    #topbar .cart .cartmenu_lastL p {
      font-size: 14px;
      line-height: 14px;
      margin: 5px 0; }
    #topbar .cart .cartmenu_lastL .catrprice {
      font-size: 22px;
      line-height: 22px;
      color: #ff6700; }
    #topbar .cart .cartmenu_lastL .yuan {
      font-size: 12px;
      line-height: 12px;
      color: #ff6700; }
  #topbar .cart .cartmenu_lastR {
    float: right;
    width: 150px;
    height: 40px;
    margin: 10px 10px 0 0;
    background-color: #ff6700;
    color: #ffffff;
    cursor: pointer; }
  #topbar .cart .cartmenu ul {
    width: 100%;
    max-height: 320px;
    overflow: auto; }
    #topbar .cart .cartmenu ul li {
      width: 100%;
      height: 80px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      padding: 5px;
      position: relative; }
    #topbar .cart .cartmenu ul p {
      width: 100px;
      line-height: 16px;
      text-align: left;
      position: absolute;
      left: 90px;
      top: 20px; }
    #topbar .cart .cartmenu ul span {
      position: absolute;
      right: 45px;
      top: 20px; }
    #topbar .cart .cartmenu ul .num {
      position: absolute;
      right: 28px;
      top: 20px; }
    #topbar .cart .cartmenu ul div {
      position: absolute;
      right: 10px;
      top: 20px;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer; }
    #topbar .cart .cartmenu ul img {
      width: 60px;
      height: 60px;
      /* border: 1px solid red; */
      position: absolute;
      left: 0;
      top: 10px; }

/* 公共样式 */
/* 竖线 */
.sep {
  float: left;
  margin: 0 6px;
  color: #424242; }

/* 阴影 */
.shadow {
  box-shadow: 0px 1px 5px #999; }

#header {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  position: relative; }

h1 {
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  position: absolute;
  top: 25.25px;
  overflow: hidden;
  left: 0; }
  h1 .imgwarp {
    width: 110px;
    height: 55px;
    position: absolute;
    left: -55px; }
    h1 .imgwarp img {
      width: 53px;
      display: inline-block; }

/* 商品分类 */
.classify {
  position: absolute;
  left: 234px;
  bottom: 0; }
  .classify li {
    float: left;
    height: 88px;
    font-size: 16px;
    padding: 0 10px;
    line-height: 88px;
    cursor: pointer; }
    .classify li:hover {
      color: #ff6700; }

.seachwarp {
  height: 50px;
  position: absolute;
  right: 0;
  top: 25px; }
  .seachwarp .seach {
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    float: left;
    position: relative; }
    .seachwarp .seach input {
      width: 100%;
      height: 30px;
      border: 0;
      margin-top: 9px; }
    .seachwarp .seach a {
      height: 18px;
      padding: 0 5px;
      background-color: #eee;
      position: absolute;
      top: 16px;
      text-align: center;
      line-height: 18px;
      font-size: 12px; }
    .seachwarp .seach .seach_a_l {
      left: 35px; }
    .seachwarp .seach .seach_a_r {
      left: 125px; }
  .seachwarp .seach_btn {
    width: 38px;
    height: 36px;
    padding: 6px 1px;
    border: 1px solid #e0e0e0;
    float: left;
    border-left: 0;
    text-align: center;
    cursor: pointer; }
    .seachwarp .seach_btn span {
      font-size: 26px;
      line-height: 36px; }

#calssify_menu {
  width: 100%;
  height: 0px;
  padding-left: 62px;
  overflow: hidden;
  display: none;
  border-bottom: 1px solid #ccc; }
  #calssify_menu li {
    width: 180px;
    height: 180px;
    padding: 12px 35px 12px 0;
    color: #333333;
    line-height: 18px;
    font-size: 12px;
    float: left;
    position: relative;
    text-align: center; }
    #calssify_menu li img {
      margin: 10px 0 0 5px; }
    #calssify_menu li p {
      margin-left: 14px; }
    #calssify_menu li span {
      margin-left: 14px;
      color: #ff6700; }
  #calssify_menu .lastli {
    margin-right: 0; }
  #calssify_menu div {
    width: 1px;
    height: 110px;
    margin: 20px 14px;
    background-color: #ccc;
    float: left; }

body {
  height: 5000px; }

#banner {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative; }
  #banner > img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.banner_left {
  width: 234px;
  height: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4); }

.banner_left ul {
  width: 234px;
  height: 440px;
  list-style: none;
  padding-top: 20px; }
  .banner_left ul li {
    line-height: 42px;
    color: #ffffff;
    height: 42px;
    font-size: 14px; }
    .banner_left ul li:hover {
      background: #ff6700; }
    .banner_left ul li p {
      float: left;
      padding-left: 30px; }
    .banner_left ul li span {
      float: right;
      padding-right: 15px; }

#banner .banner_right {
  width: 997px;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 234px;
  display: none;
  border: 1px solid #ccc;
  box-sizing: border-box; }
  #banner .banner_right ul {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff; }
    #banner .banner_right ul li {
      width: 100%;
      height: 16.6%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #banner .banner_right ul img {
      width: 40px;
      height: 40px;
      margin-right: 20px; }

#banner #left_arrow {
  position: absolute;
  top: 50%;
  left: 234px;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  z-index: 3;
  cursor: pointer;
  outline: none;
  background: url(../img/icon-slides.png) no-repeat -83px 0; }

#banner #right_arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  z-index: 3;
  cursor: pointer;
  outline: none;
  background: url(../img/icon-slides.png) no-repeat -123px 0; }

#banner #lunbo {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 3; }
  #banner #lunbo li {
    width: 6px;
    height: 6px;
    margin: 0 6px;
    border-radius: 50%;
    border: 3px solid #999;
    background-color: #666;
    float: left; }

#home {
  width: 1226px;
  height: 170px;
  margin: 14px auto 0; }

.home_l {
  width: 228px;
  height: 164px;
  padding: 3px;
  background: #5f5750;
  display: flex;
  flex-wrap: wrap;
  float: left; }
  .home_l li {
    flex-shrink: 0;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    line-height: 82px;
    text-align: center;
    color: #b0b0b0;
    position: relative; }
    .home_l li:hover {
      color: #fff; }
    .home_l li .iconfont {
      font-size: 32px; }
    .home_l li .home_title {
      position: absolute;
      bottom: 8px;
      left: 0px;
      height: 12px;
      line-height: 12px;
      width: 70px; }
  .home_l li::before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57; }
  .home_l li::after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57; }

.home_r {
  float: right;
  width: 978px;
  height: 170px;
  display: flex;
  justify-content: space-between; }
  .home_r li {
    width: 316px;
    height: 170px;
    float: left; }
    .home_r li img {
      width: 100%;
      height: 100%; }

#main {
  width: 100%;
  padding: 4px 0 12px 0;
  background-color: #f5f5f5; }

#flashsale {
  width: 1226px;
  height: 398px;
  margin: 0 auto; }
  #flashsale .fla_header {
    width: 100%;
    height: 58px; }
    #flashsale .fla_header p {
      height: 100%;
      line-height: 58px;
      font-size: 22px;
      color: #333;
      float: left; }
    #flashsale .fla_header .btn {
      float: right;
      margin-top: 23px; }
      #flashsale .fla_header .btn .left {
        width: 24px;
        height: 14px;
        padding: 3px 5px;
        margin-left: -1px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        text-align: center; }
      #flashsale .fla_header .btn .right {
        display: inline-block;
        width: 24px;
        height: 14px;
        padding: 3px 5px;
        margin-left: -5px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        line-height: 16px;
        text-align: center; }
  #flashsale .flashsale-countdown {
    width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top: 1px solid #e53935;
    background: #f1eded;
    float: left; }
    #flashsale .flashsale-countdown .round {
      width: 234px;
      height: 31px;
      padding-top: 15px;
      text-align: center;
      font-size: 21px;
      color: #ef3a3b;
      padding-top: 15px; }
    #flashsale .flashsale-countdown .coun_img {
      margin: 25px 98px;
      width: 34px;
      height: 53px; }
    #flashsale .flashsale-countdown .desc {
      width: 234px;
      height: 22px;
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      font-size: 15px; }
    #flashsale .flashsale-countdown .countdown {
      width: 168px;
      margin: 28px auto 0; }
      #flashsale .flashsale-countdown .countdown span {
        width: 46px;
        height: 46px;
        background: #605751;
        color: #fff;
        font-size: 24px;
        line-height: 46px;
        float: left;
        text-align: center; }
      #flashsale .flashsale-countdown .countdown i {
        width: 15px;
        float: left;
        height: 46px;
        line-height: 46px;
        color: #605751;
        font-size: 28px;
        font-style: normal;
        text-align: center; }
  #flashsale .list_warp {
    width: 978px;
    height: 340px;
    float: right;
    overflow: hidden; }
    #flashsale .list_warp ul {
      height: 340px;
      width: 1984px; }
      #flashsale .list_warp ul li {
        height: 339px;
        width: 234px;
        border-top: 1px solid #e53935;
        float: left;
        margin-right: 14px;
        background-color: #fff; }
      #flashsale .list_warp ul .li2 {
        border-top: 1px solid #83c44e; }
      #flashsale .list_warp ul .li3 {
        border-top: 1px solid #ffac13; }
      #flashsale .list_warp ul .li4 {
        border-top: 1px solid #2196f3; }
      #flashsale .list_warp ul .li5 {
        border-top: 1px solid #00c0a5; }
      #flashsale .list_warp ul .li6 {
        border-top: 1px solid #e53935; }
      #flashsale .list_warp ul .li7 {
        border-top: 1px solid #83c44e; }
      #flashsale .list_warp ul .li8 {
        border-top: 1px solid #ffac13; }

/*# sourceMappingURL=index.css.map */
