@charset "UTF-8";
/* 设置条 */
#topbar {
  width: 100%;
  height: 40px;
  background-color: #333; }
  #topbar .container {
    width: 1226px;
    height: 100%;
    margin: 0 auto; }
  #topbar .topbar-nav {
    height: 100%;
    float: left;
    line-height: 40px;
    position: relative; }
    #topbar .topbar-nav li {
      float: left;
      position: relative; }
      #topbar .topbar-nav li a {
        font-size: 12px;
        color: #b0b0b0; }
        #topbar .topbar-nav li a:hover {
          color: #ffffff; }
    #topbar .topbar-nav .app {
      position: absolute;
      top: 40px;
      left: -50px;
      width: 124px;
      height: 0px;
      background-color: #fff;
      overflow: hidden;
      text-align: center;
      z-index: 4; }
      #topbar .topbar-nav .app img {
        width: 90px;
        height: 90px;
        margin-top: 12px; }

/* 顶部购物车 */
#topbar .cart {
  width: 120px;
  height: 100%;
  float: right; }

/* 登录前info */
#topbar .info {
  float: right;
  height: 100%;
  line-height: 40px;
  margin-right: 20px;
  display: block; }
  #topbar .info a {
    float: left;
    color: #b0b0b0; }
    #topbar .info a:hover {
      color: #ffffff; }

/* 登录后info */
.useinfo {
  display: none;
  color: #b0b0b0;
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 20px; }
  .useinfo li {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 90px;
    position: relative;
    text-align: center;
    cursor: pointer;
    /* 用户名弹出菜单 */ }
    .useinfo li:hover {
      color: #ffffff; }
    .useinfo li .name {
      margin-right: 40px; }
    .useinfo li .iconfont {
      float: right;
      margin-right: 20px;
      margin-top: -38px; }
    .useinfo li .usermenu {
      height: 0px;
      width: 90px;
      position: absolute;
      box-sizing: border-box;
      padding: 7px 0;
      overflow: hidden;
      display: none; }
      .useinfo li .usermenu li {
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #b0b0b0; }
  .useinfo span {
    float: left; }

/* 购物车 */
#topbar .cart {
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
  position: relative;
  /* 购物车弹出菜单 */
  /* 购物车菜单最后一行 */ }
  #topbar .cart .cartmenu {
    position: absolute;
    width: 318px;
    right: 0;
    color: #757575;
    background-color: #fff;
    z-index: 3;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    /* 购物车没有商品 */ }
    #topbar .cart .cartmenu .nocart {
      display: none; }
  #topbar .cart .cartmenu_last {
    background-color: #f0f0f0;
    display: none; }
  #topbar .cart .cartmenu_lastL {
    float: left;
    margin-left: 10px; }
    #topbar .cart .cartmenu_lastL p {
      font-size: 14px;
      line-height: 14px;
      margin: 5px 0; }
    #topbar .cart .cartmenu_lastL .catrprice {
      font-size: 22px;
      line-height: 22px;
      color: #ff6700; }
    #topbar .cart .cartmenu_lastL .yuan {
      font-size: 12px;
      line-height: 12px;
      color: #ff6700; }
  #topbar .cart .cartmenu_lastR {
    float: right;
    width: 150px;
    height: 40px;
    margin: 10px 10px 0 0;
    background-color: #ff6700;
    color: #ffffff;
    cursor: pointer; }
  #topbar .cart .cartmenu ul {
    width: 100%;
    max-height: 320px;
    overflow: auto; }
    #topbar .cart .cartmenu ul li {
      width: 100%;
      height: 80px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;
      padding: 5px;
      position: relative; }
    #topbar .cart .cartmenu ul p {
      width: 100px;
      line-height: 16px;
      text-align: left;
      position: absolute;
      left: 90px;
      top: 20px; }
    #topbar .cart .cartmenu ul span {
      position: absolute;
      right: 45px;
      top: 20px; }
    #topbar .cart .cartmenu ul .num {
      position: absolute;
      right: 28px;
      top: 20px; }
    #topbar .cart .cartmenu ul div {
      position: absolute;
      right: 10px;
      top: 20px;
      font-size: 20px;
      font-weight: 900;
      cursor: pointer; }
    #topbar .cart .cartmenu ul img {
      width: 60px;
      height: 60px;
      /* border: 1px solid red; */
      position: absolute;
      left: 0;
      top: 10px; }

/* 宽高 */
/* 公共样式 */
/* 竖线 */
.sep {
  float: left;
  margin: 0 6px;
  color: #424242; }

/* 阴影 */
.shadow {
  box-shadow: 0px 1px 5px #999; }

/* 显示 */
.show {
  display: block; }

.hiden {
  display: none; }

/* 字体大小 */
.fongt_siz {
  font-size: 18px; }

/* 公用模板 */
/* 每个商品的小模板 */
#template {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #template img {
    width: 160px;
    height: 160px;
    margin-top: -30px; }
  #template h3 {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px; }
  #template h4 {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    font-size: 14px; }
  #template p {
    text-align: center;
    color: #ff6700;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px; }

/* 相同模块 */
#public_temp {
  width: 1226px;
  height: 686px;
  margin: 14px auto 0;
  /* 最后一个li有两块 */ }
  #public_temp .title {
    width: 100;
    height: 58px; }
    #public_temp .title .title_l {
      height: 100%;
      font-size: 22px;
      font-weight: 200;
      line-height: 58px;
      color: #333;
      float: left; }
    #public_temp .title ul {
      float: right;
      /* tab切换 */ }
      #public_temp .title ul li {
        float: left;
        height: 100%;
        line-height: 58px;
        margin-left: 10px;
        font-size: 14px;
        cursor: pointer; }
      #public_temp .title ul .borer_bot {
        border-bottom: 2px solid #ff6700; }
      #public_temp .title ul a {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 12px;
        line-height: 18px;
        background: #b0b0b0;
        color: #fff;
        text-align: center; }
        #public_temp .title ul a:hover {
          background: #ff6700; }
      #public_temp .title ul .iconfont {
        font-size: 8px; }
  #public_temp .main {
    width: 100%;
    height: 614px; }
    #public_temp .main .banner {
      width: 234px;
      height: 100%;
      float: left; }
      #public_temp .main .banner img {
        width: 100%;
        height: 100%; }
      #public_temp .main .banner .banner_top {
        display: block;
        width: 234px;
        height: 300px;
        background-color: #fff;
        position: relative;
        transition: all 0.3s;
        top: 0px; }
        #public_temp .main .banner .banner_top:hover {
          top: -2px;
          box-shadow: 0px 5px 10px #999; }
      #public_temp .main .banner .banndr_bot {
        display: block;
        width: 234px;
        height: 300px;
        margin-top: 14px;
        background-color: #fff;
        position: relative;
        transition: top 0.3s;
        top: 0px; }
        #public_temp .main .banner .banndr_bot:hover {
          top: -2px;
          box-shadow: 0px 5px 10px #999; }
    #public_temp .main .main_l {
      width: 234px;
      height: 100%;
      float: left; }
    #public_temp .main .main_r {
      width: 978px;
      height: 614px;
      margin-left: 14px;
      float: right;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between; }
      #public_temp .main .main_r li:last-of-type {
        transition: top 0.3s;
        top: 0px; }
        #public_temp .main .main_r li:last-of-type:hover {
          top: 0px;
          box-shadow: 0px 0px 0px #fff; }
      #public_temp .main .main_r li {
        width: 234px;
        height: 300px;
        position: relative;
        transition: top 0.3s;
        top: 0px; }
        #public_temp .main .main_r li:hover {
          top: -2px;
          box-shadow: 0px 5px 10px #999; }
      #public_temp .main .main_r #hover {
        position: relative;
        transition: top 0.3s;
        top: 0px; }
        #public_temp .main .main_r #hover:hover {
          top: -2px;
          box-shadow: 0px 5px 10px #999; }
  #public_temp .li_top {
    width: 100%;
    height: 143px;
    background-color: #fff;
    margin-bottom: 14px;
    position: relative;
    transition: top 0.3s;
    top: 0px; }
    #public_temp .li_top:hover {
      top: -2px;
      box-shadow: 0px 5px 10px #999; }
    #public_temp .li_top img {
      position: absolute;
      right: 20px;
      top: 32px;
      width: 80px;
      height: 80px; }
    #public_temp .li_top .title {
      position: absolute;
      left: 20px;
      top: 42px;
      font-size: 14px;
      font-weight: 400;
      width: 100px; }
    #public_temp .li_top .price {
      position: absolute;
      font-size: 14px;
      color: #ff6700;
      left: 20px;
      top: 80px; }
  #public_temp #li_bot {
    width: 100%;
    height: 143px;
    background-color: #fff;
    position: relative;
    transition: top 0.3s;
    top: 0px; }
    #public_temp #li_bot:hover {
      top: -2px;
      box-shadow: 0px 5px 10px #999; }
    #public_temp #li_bot .iconfont {
      position: absolute;
      font-size: 48px;
      line-height: 48px;
      color: #ff6700;
      right: 30px;
      top: 47px;
      cursor: pointer; }
    #public_temp #li_bot .hot {
      position: absolute;
      top: 81px;
      left: 42px;
      font-size: 12px;
      color: #757575;
      cursor: pointer; }
    #public_temp #li_bot .more {
      position: absolute;
      font-size: 18px;
      color: #333;
      top: 49px;
      left: 42px;
      cursor: pointer; }

/* 广告条 */
#bannerbar {
  width: 1226px;
  height: 120px;
  margin: 14px auto 0; }
  #bannerbar img {
    width: 100%;
    height: 100%; }

#header {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
  position: relative; }

h1 {
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  position: absolute;
  top: 25.25px;
  overflow: hidden;
  left: 0; }
  h1 .imgwarp {
    width: 110px;
    height: 55px;
    position: absolute;
    left: -55px; }
    h1 .imgwarp img {
      width: 53px;
      display: inline-block; }

/* 商品分类 */
.classify {
  position: absolute;
  left: 234px;
  bottom: 0; }
  .classify li {
    float: left;
    height: 88px;
    font-size: 16px;
    padding: 0 10px;
    line-height: 88px;
    cursor: pointer; }
    .classify li:hover {
      color: #ff6700; }

.seachwarp {
  height: 50px;
  position: absolute;
  right: 0;
  top: 25px; }
  .seachwarp .seach {
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    float: left;
    position: relative; }
    .seachwarp .seach input {
      width: 100%;
      height: 30px;
      border: 0;
      margin-top: 9px; }
    .seachwarp .seach a {
      height: 18px;
      padding: 0 5px;
      background-color: #eee;
      position: absolute;
      top: 16px;
      text-align: center;
      line-height: 18px;
      font-size: 12px; }
    .seachwarp .seach .seach_a_l {
      left: 30px; }
    .seachwarp .seach .seach_a_r {
      left: 125px; }
  .seachwarp .seach_btn {
    width: 38px;
    height: 36px;
    padding: 6px 1px;
    border: 1px solid #e0e0e0;
    float: left;
    border-left: 0;
    text-align: center;
    cursor: pointer; }
    .seachwarp .seach_btn span {
      font-size: 26px;
      line-height: 36px; }
  .seachwarp .seach_list {
    width: 243px;
    border: 1px solid #ff6700;
    display: none;
    position: absolute;
    left: 0px;
    top: 49px;
    z-index: 3;
    background-color: #fff; }
    .seachwarp .seach_list li {
      width: 233px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px; }
      .seachwarp .seach_list li:hover {
        background-color: #ccc; }

#calssify {
  width: 1498px;
  height: 0px;
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: -369px;
  top: 88px;
  z-index: 5;
  background-color: #fff;
  display: none;
  overflow: hidden; }

#calssify_menu {
  width: 1226px;
  height: 200px;
  display: block;
  position: relative;
  margin: 0 auto; }
  #calssify_menu li {
    width: 180px;
    height: 180px;
    padding: 12px 35px 12px 0;
    color: #333333;
    line-height: 18px;
    font-size: 12px;
    float: left;
    position: relative;
    text-align: center; }
    #calssify_menu li a {
      display: inline-block;
      width: 100%;
      height: 100%; }
    #calssify_menu li img {
      margin: 10px 0 0 5px;
      height: 100px;
      width: 100px; }
    #calssify_menu li p {
      margin-left: 14px; }
    #calssify_menu li span {
      margin-left: 14px;
      color: #ff6700; }
  #calssify_menu .lastli {
    margin-right: 0; }
  #calssify_menu div {
    width: 1px;
    height: 110px;
    margin: 20px 14px;
    background-color: #ccc;
    float: left; }

#banner {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative; }
  #banner .lb_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }

.banner_left {
  width: 234px;
  height: 100%;
  position: relative;
  z-index: 4;
  background: rgba(0, 0, 0, 0.4); }

.banner_left .left {
  width: 234px;
  height: 440px;
  list-style: none;
  padding-top: 20px; }
  .banner_left .left li {
    line-height: 42px;
    color: #ffffff;
    height: 42px;
    font-size: 14px; }
    .banner_left .left li:hover {
      background: #ff6700; }
    .banner_left .left li p {
      float: left;
      padding-left: 30px; }
    .banner_left .left li span {
      float: right;
      padding-right: 15px; }

#banner .banner_right {
  width: 997px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 234px;
  display: none;
  border: 1px solid #ccc;
  box-sizing: border-box; }
  #banner .banner_right ul {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff; }
    #banner .banner_right ul li {
      width: 100%;
      height: 16.6%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #banner .banner_right ul li:hover span {
        color: #ff6700; }
      #banner .banner_right ul li a {
        width: 100%;
        height: 16.6%;
        display: flex;
        align-items: center;
        padding-left: 60px; }
    #banner .banner_right ul img {
      width: 40px;
      height: 40px;
      margin-right: 20px; }

#banner #left_arrow {
  position: absolute;
  top: 50%;
  left: 234px;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  z-index: 3;
  cursor: pointer;
  outline: none;
  background: url(../img/icon-slides.png) no-repeat -83px 0; }
  #banner #left_arrow:hover {
    background: url(../img/icon-slides.png) no-repeat 0px 0; }

#banner #right_arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  z-index: 3;
  cursor: pointer;
  outline: none;
  background: url(../img/icon-slides.png) no-repeat -123px 0; }
  #banner #right_arrow:hover {
    background: url(../img/icon-slides.png) no-repeat -42px 0; }

#banner #lunbo {
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 3; }
  #banner #lunbo li {
    width: 6px;
    height: 6px;
    margin: 0 6px;
    border-radius: 50%;
    border: 3px solid #999;
    background-color: #ccc;
    float: left; }
  #banner #lunbo .active {
    background-color: #fff; }

#home {
  width: 1226px;
  height: 170px;
  margin: 14px auto 0; }

.home_l {
  width: 228px;
  height: 164px;
  padding: 3px;
  background: #5f5750;
  display: flex;
  flex-wrap: wrap;
  float: left; }
  .home_l li {
    flex-shrink: 0;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    line-height: 82px;
    text-align: center;
    color: #b0b0b0;
    position: relative; }
    .home_l li:hover {
      color: #fff; }
    .home_l li .iconfont {
      font-size: 32px; }
    .home_l li .home_title {
      position: absolute;
      bottom: 8px;
      left: 0px;
      height: 12px;
      line-height: 12px;
      width: 70px; }
  .home_l li::before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57; }
  .home_l li::after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57; }

.home_r {
  float: right;
  width: 978px;
  height: 170px;
  display: flex;
  justify-content: space-between; }
  .home_r li {
    width: 316px;
    height: 170px;
    float: left; }
    .home_r li img {
      width: 100%;
      height: 100%; }

#main {
  width: 100%;
  padding: 4px 0 12px 0;
  background-color: #f5f5f5; }

#flashsale {
  width: 1226px;
  height: 398px;
  margin: 0 auto; }
  #flashsale .fla_header {
    width: 100%;
    height: 58px; }
    #flashsale .fla_header p {
      height: 100%;
      line-height: 58px;
      font-size: 22px;
      color: #333;
      float: left; }
    #flashsale .fla_header .btn {
      float: right;
      margin-top: 23px; }
      #flashsale .fla_header .btn .left {
        width: 24px;
        height: 14px;
        padding: 3px 5px;
        margin-left: -1px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        text-align: center; }
      #flashsale .fla_header .btn .right {
        display: inline-block;
        width: 24px;
        height: 14px;
        padding: 3px 5px;
        margin-left: -5px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        line-height: 16px;
        text-align: center; }
  #flashsale .flashsale-countdown {
    width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top: 1px solid #e53935;
    background: #f1eded;
    float: left; }
    #flashsale .flashsale-countdown .round {
      width: 234px;
      height: 31px;
      padding-top: 15px;
      text-align: center;
      font-size: 21px;
      color: #ef3a3b;
      padding-top: 15px; }
    #flashsale .flashsale-countdown .coun_img {
      margin: 25px 98px;
      width: 34px;
      height: 53px; }
    #flashsale .flashsale-countdown .desc {
      width: 234px;
      height: 22px;
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
      font-size: 15px; }
    #flashsale .flashsale-countdown .countdown {
      width: 168px;
      margin: 28px auto 0; }
      #flashsale .flashsale-countdown .countdown span {
        width: 46px;
        height: 46px;
        background: #605751;
        color: #fff;
        font-size: 24px;
        line-height: 46px;
        float: left;
        text-align: center; }
      #flashsale .flashsale-countdown .countdown i {
        width: 15px;
        float: left;
        height: 46px;
        line-height: 46px;
        color: #605751;
        font-size: 28px;
        font-style: normal;
        text-align: center; }
  #flashsale .list_warp {
    width: 978px;
    height: 340px;
    float: right;
    overflow: hidden;
    position: relative; }
    #flashsale .list_warp ul {
      height: 340px;
      width: 1984px;
      position: absolute;
      left: 0px; }
      #flashsale .list_warp ul li {
        height: 339px;
        width: 234px;
        border-top: 1px solid #e53935;
        float: left;
        margin-right: 14px;
        background-color: #fff; }

#video {
  width: 1227px;
  height: 328px;
  margin: 35px auto 0; }
  #video h2 {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 23px; }
  #video div {
    width: 296px;
    height: 286px;
    float: left;
    background: white;
    margin-left: 14px;
    text-align: center;
    position: relative;
    transition: top 0.3s;
    top: 0px; }
    #video div:hover {
      top: -2px;
      box-shadow: 0px 5px 10px #999; }
    #video div p {
      font-size: 14px;
      color: #333333;
      margin: 25px 0 5px 0; }
    #video div .play {
      width: 32px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 12px;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 142px;
      left: 4px;
      text-align: center;
      line-height: 20px; }
      #video div .play .iconfont {
        color: #fff;
        font-size: 10px; }

#footer-service {
  width: 100%;
  height: 34px; }
  #footer-service ul {
    list-style: none;
    width: 1226px;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 auto; }
    #footer-service ul li {
      width: 240.2px;
      height: 25px;
      float: left;
      line-height: 25px;
      margin-top: 30px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      border-right: 1px solid #e0e0e0; }
    #footer-service ul .iconfont {
      float: left;
      font-size: 26px;
      margin-right: 5px; }
    #footer-service ul p {
      float: left; }

/* 关于 */
#about {
  width: 1227px;
  height: 192px;
  margin: 0 auto;
  padding: 22px 17px; }

.about {
  width: 982px;
  height: 194px;
  float: left; }
  .about div {
    overflow: hidden;
    width: 160px;
    height: 194px;
    float: left;
    font-size: 12px;
    margin-right: 2px; }
    .about div h2 {
      color: #424242;
      margin: 60px 0 26px;
      font-weight: 500;
      font-size: 14px; }
    .about div ul li {
      line-height: 28px;
      font-size: 12px; }
      .about div ul li a {
        color: #757575; }

.service {
  width: 244px;
  height: 114px;
  float: left;
  margin: 63px 0;
  text-align: center;
  border-left: 1px solid #e0e0e0; }
  .service h3 {
    color: #ff6700;
    font-size: 16px; }
  .service p {
    font-size: 10px;
    line-height: 18px; }
  .service .staff {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    margin: 10px 0 0 60px; }
    .service .staff .iconfont {
      color: #ff6700; }

#tool {
  width: 27px;
  position: fixed;
  bottom: 20px;
  top: 223px;
  right: 3px; }
  #tool li {
    width: 27px;
    height: 42px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    position: relative; }
    #tool li .iconfont {
      font-size: 22px;
      color: #757575; }
      #tool li .iconfont:hover {
        color: #ff6700; }
    #tool li .text {
      width: 100px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      position: absolute;
      right: 30px;
      top: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      display: none; }
    #tool li .img {
      width: 100px;
      line-height: 28px;
      padding: 8px;
      text-align: center;
      position: absolute;
      right: 30px;
      top: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      display: none; }
      #tool li .img img {
        width: 100px;
        height: 100px; }
      #tool li .img .img_text {
        display: block;
        width: 70px;
        margin: 4px auto 0;
        color: #757575;
        text-align: center; }
  #tool .gotop {
    width: 27px;
    height: 42px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    display: none; }

/*# sourceMappingURL=index.css.map */
